<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WHAT DO I PICK</title>

  <!-- load papa parse -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
</head>

<body>
  <div id="app">
    <select name="character" v-model="selected[0]">
      <option v-for="character in characters" :id="character">{{ character.name }}</option>
    </select>
    <select name="character" v-model="selected[1]">
      <option v-for="character in characters" :id="character">{{ character.name }}</option>
    </select>
    <select name="character" v-model="selected[2]">
      <option v-for="character in characters" :id="character">{{ character.name }}</option>
    </select>
    <select name="character" v-model="selected[3]">
      <option v-for="character in characters" :id="character">{{ character.name }}</option>
    </select>

    <h2>Selected Character</h2>
    <ul>
      <li v-for="character in selected">{{ character }}</li>
    </ul>

    <h2>Selected Lanes</h2>
    <ul>
      <li v-for="lane in selectedLanes">{{ lane }}</li>
    </ul>
  </div>

  <!-- load Vue2 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</body>

</html>
